{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% include 'messages.html' %}
            <h2>News</h2>
            {% if news_list %}
            {% for news in news_list %}
            <hr />
            <h3><a href="{{ url_for('news.single_news', news_id=news.id) }}">{{ news.title }}</a></h3>
            <p>{{ news.published.strftime('%d.%m.%Y') }} | Comments: {{ news.comments_count() }}</p>
            {% endfor %}
            <hr />
            {% else %}
                Nothing interesting today
            {% endif %}
        </div>
        <div class="col-4">
            <h2>Weather now</h2>
            {% if weather %}
                {{ weather.temp_C }}&#8451, feels like {{ weather.FeelsLikeC }}&#8451
            {% else %}
                The weather report is not available now
            {% endif %}
        </div>
    </div>
{% endblock %}